.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 50vh;
}


.navHome {
  background-color: transparent;
  color: var(--mindaro);
  font-size: 24px;
  border: 0;
}

.navBut {
  background-color: transparent;
  color: #FFFFFF;
  font-size: 24px;
  border: 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  margin-left: 8%;
  align-items: center;
  padding: 1rem;
  gap: 3rem;
  width: 1000px;
}

.header {
  width: 100%;
  box-shadow: 0px 0.3px 0px rgba(208, 240, 92, 1);
}


.divNavButton {
  background-color: #6B6B6B;
  padding: 1rem;
  border-radius: 16px;
  display: flex;
  justify-content: space-around;
  width: 15%;
}

  .heading {
    font-size: 96px;
    margin-bottom: 20px;
    color: var(--mindaro);
  }
  
  .maincont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .widget {
    padding: .5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
  }

  .widgetheader {
    color: var(--sea-salt);
    font-size: 2rem;
  }

  .widgetbutton {
    background-color: var(--mindaro);
    color: var(--soft-black);
    font-size: 20px;
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-radius: .5rem;
  }

  .mealscontainer{
    display: flex;
    flex-direction: row;
  }

  .widgetbutton2{
    background-color: var(--mindaro);
    color: var(--soft-black);
    font-size: 20px;
    width: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-radius: .5rem;
    margin-left: 2rem;
  }